<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test App</title>
  </head>
  <body>
    <h1>Test App</h1>

    <h2>Images ({{ imageUrls.length }})</h2>
    <ul class="images_list">
    {{#each imageUrls}}
        <li>
            <img src="{{this}}" />
        </li>
    {{/each}}
    </ul>
  </body>
</html>
